// color
$color-main: #ca3c3c;
$color-main-hover: #294f95;
$color-err: #fd554c;
$color-success: #09bb07;
$color-divider: #d8d8d8;
$color-bg: #f5f5f6;

$color-font-sport: #1d1f23;
$color-font-primary: #4a4a4a;
$color-font-regular: #838383;
$color-font-slave: #9b9b9b;
$color-font-info: #acacac;
$color-font-active: #ca3c3c;
// width
$width-main: 1400px;

//height
$height-main: calc(100% - 56px - 64px - 270px);
$height-min: calc(100% - 270px);
